<!DOCTYPE html>
<html>
  <head>
    <title>QnaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
    <p class="nav_user ">
      Welcome, <b><%= current_user.email %></b>!<br>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %><br>
    </p>
  <% end %>

  <% unless user_signed_in? %>
    <p class="nav_user ">
      <%= link_to 'Вoйти', new_user_session_path %><br>
    </p>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
